*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    background-color: aliceblue;
    display: grid;
    place-content: center;
    height: 100vh;
}

.card-container{
    display: flex;
    gap: 16px;
}

.card{
    width: 200px;
    background-color: white;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #a1a1a1;
}

.card img{
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
}

